.tiform {
    width: 350px;
    padding: 15px;
}

.sensor {
    background-color: #eeeeee00;
    text-align: center;
    padding: 20px;
}

.atuador {
    background-color: #ffbf6c;
    text-align: center;
}

body {
    background-image: url(../images/casa.jpeg);
    background-color: transparent;
}


i {
    color: rgba(255, 255, 255, 0.911);
    stroke: white;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
}