.tiform {
    width: 350px;
    padding: 15px;
}

.sensor {
    background-color: #93baff;
    text-align: center;
}

.atuador {
    background-color: #ffbf6c;
    text-align: center;
}

body {
    background-color: white;
}

i {
    color: white;
    stroke: white;
}